.dropdown{
    
}
.dropdown select{
    width: 350px;
    height: 50px;
    border:1px solid lightgray;
    border-radius:10px ;
    background-color:#51b571;
    font-size: 18px;
    margin-top: 1rem;
    text-align: center;
    color:white;
}
